*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

#root {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

.header {
  background: #eaeaea;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
  padding: 15px 0;

  &__logo {
    font-size: 25px;
    font-weight: 700;
    color: #101010;
    text-transform: uppercase;
    text-decoration: none;
  }

  &__user-area {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 40px;
  }
}

.card {
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.user-action {
  appearance: none;
  padding: 0;
  border: none;
  background: transparent;
  width: 24px;
  height: 24px;
  position: relative;

  &__icon {
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
  }

  &__number {
    width: 18px;
    height: 18px;
    background: #FFA542;
    border-radius: 50%;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    right: -30%;
    top: -30%;
    vertical-align: middle;
    text-align: center;
    z-index: 2;
  }
}

.section {
  flex: 1;
  margin-bottom: 30px;

  &__title {
    font-size: 20px;
    font-weight: 600;
    color: #838383;
    margin-bottom: 24px;

    &--black {
      color: #1c1c27;
    }
  }
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 30px;

  &__product {
    width: calc(33.3% - 20px);
  }
}

.product {
  display: flex;
  flex-direction: column;
  padding: 15px 22px 32px;

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-decoration: none;
  }

  &__image {
    display: flex;
    align-items: center;
    flex: 1;
    margin-bottom: 54px;

    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }

  &__row {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__name {
    font-size: 17px;
    font-weight: 600;
    color: #1c1c27;
  }

  &__price {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    flex-shrink: 0;
    margin-bottom: 10px;
    padding-bottom: 16px;
    position: relative;
  }

  &__price-value {
    color: #FFA542;
    font-weight: 600;
    font-size: 17px;

    &--old {
      color: #FFCE7F;
      font-size: 13px;
      text-decoration: line-through;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  &__rating {
    display: flex;
    align-items: center;
  }

  &__rating-value {
    font-size: 17px;
    font-weight: 600;
    color: #838383;
    margin-left: 10px;
  }

  &__button {
    appearance: none;
    border: none;
    padding: 0;
    margin: 0;
    background: transparent;
    font-size: 17px;
    font-weight: 600;
    color: #000;
  }
}

.cart {
  flex: 1 0;

  &__item {
    margin-bottom: 30px;
  }

  &__grid {
    align-items: flex-start;
  }
}

.item {
  width: 100%;
  position: relative;
  z-index: 1;

  &__delete {
    appearance: none;
    padding: 0;
    border: none;
    background: transparent;
    width: 20px;
    height: 17px;
    position: absolute;
    top: 18px;
    right: 28px;
  }

  &__inner {
    padding: 18px;
  }

  &__product {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
    margin-right: 24px;

    img {
      display: inline-flex;
      max-width: 100%;
    }
  }

  &__name {
    font-size: 17px;
    font-weight: 500;
    color: #1c1c27;
    margin-bottom: 12px;
  }

  &__price {
    font-size: 15px;
    font-weight: 600;
    color: #AAA;
  }

  &__row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  &__qty-ctrl {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 125px;
  }

  &__qty-btn {
    appearance: none;
    padding: 0;
    border: none;
    width: 35px;
    height: 30px;
    border-radius: 50%;
    background: #ffce7f;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 24px;
  }

  &__qty {
    font-size: 17px;
    font-weight: 600;
    color: #000;
  }

  &__total {
    font-size: 15px;
    font-weight: 600;
    color: #1c1c27;
  }
}

.checkout {
  width: 100%;
  max-width: 350px;
  flex: 1;
  align-self: flex-start;

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 16px;
  }

  &__text,
  &__total {
    font-size: 15px;
    font-weight: 600;
    color: #000;
  }

  &__button {
    appearance: none;
    border: none;
    padding: 20px 14px;
    background: #101010;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #fff;
    font-size: 17px;
    font-weight: 600;

    &:disabled {
      background: #adadad;
    }
  }
}

.footer {
  margin-top: auto;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px 30px 0px 0px;
  padding: 22px 30px;

  &__inner {
    display: flex;
    flex-flow: row nowrap;
  }

  &__col {
    flex: 1;

    &--2 {
      flex: 2;
    }
  }

  &__lang-switch {
    display: flex;
    align-items: center;
  }
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  columns: 2;

  &__item {
    margin-bottom: 10px;

    &--last {
      margin-top: calc(32px);
    }
  }

  &__link {
    font-size: 17px;
    color: #000;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &__button {
    appearance: none;
    padding: 0;
    border: none;
    background: transparent;
    font-size: 15px;
    font-weight: 500;
    color: #101010;
    margin-left: 15px;

    &--current {
      color: #FFA542;
      font-weight: 700;
    }
  }
}

.socials {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;

  &__item {
    margin-left: 18px;
  }
}

@media (max-width: 960px) {
  .grid {
    &__product {
      width: calc(50% - 15px);
    }
  }
}

@media (max-width: 760px) {
  .footer {
    &__inner {
      flex-direction: column;
      gap: 30px;
    }
  }

  .socials {
    justify-content: center;

    &__item {
      margin-left: 0;
      padding: 0 9px;
    }
  }

  .item {
    &__product {
      flex-direction: column;
    }

    &__image {
      margin-right: 0;
      margin-bottom: 20px;
    }

    &__info {
      margin-bottom: 20px;
    }

    &__name,
    &__price {
      text-align: center;
    }
  }
}

@media (max-width: 560px) {
  .grid {
    &__product {
      width: 100%;
    }
  }

  .menu {
    columns: 1;
  }
}
